{% extends "base.html" %}
{% block content %}

<title>Actualizar Usuario</title>

<body>
    <div class="container">
        <h1 class="title">Actualizar Usuario</h1>

        <form method="POST">
            <div class="field">
                <label class="label" for="nombre">Nombre:</label>
                <div class="control">
                    <input class="input" type="text" id="nombre" name="nombre" value="{{ usuario.name }}">
                </div>
            </div>

            <div class="field">
                <label class="label" for="apellido1">Primer Apellido:</label>
                <div class="control">
                    <input class="input" type="text" id="apellido1" name="apellido1" value="{{ usuario.first_last_name }}">
                </div>
            </div>

            <div class="field">
                <label class="label" for="apellido2">Segundo Apellido:</label>
                <div class="control">
                    <input class="input" type="text" id="apellido2" name="apellido2" value="{{ usuario.second_last_name }}">
                </div>
            </div>

            <div class="field">
                <label class="label" for="telefono">Teléfono:</label>
                <div class="control">
                    <input class="input" type="text" id="telefono" name="telefono" value="{{ usuario.phone_number }}">
                </div>
            </div>

            <div class="field">
                <label class="label" for="email">Email:</label>
                <div class="control">
                    <input class="input" type="email" id="email" name="email" value="{{ usuario.email }}">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" type="submit">Actualizar Usuario</button>
                </div>
                <div class="control">
                    <button class="button is-danger" type="submit" name="eliminar_usuario" value="1" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?')">Eliminar Usuario</button>
                </div>
            </div>
        </form>

        <a href="{{ url_for('users') }}">Volver a la lista de usuarios</a>
    </div>

{%endblock%}