{% extends "base.html" %}
{% block content %}

<div class="container" style="display: flex; justify-content: center;">
    <div class="card" style="width: 100%; max-width: 600px;">
        <div class="card-header">
            <p class="card-header-title">Actualizar Avatar</p>
        </div>
        <div class="card-content">
            <div class="content">
                {% if current_avatar %}
                    <div class="field" style="margin-bottom: 100px;">
                        <label class="label">Avatar Actual:</label>
                        <div class="control" style="text-align: center;">
                            <figure class="image is-128x128" style="display: inline-block;">
                                <img src="{{ url_for('static', filename=current_avatar) }}" alt="Avatar actual" class="is-rounded">
                            </figure>
                        </div>
                    </div>
                {% endif %}

                <form method="post" enctype="multipart/form-data">
                    <div class="field mt-5">
                        <label class="label">Selecciona un Avatar:</label>
                        <div class="control">
                            <div class="file is-boxed" style="width: 100%;">
                                <label class="file-label" style="width: 100%;">
                                    <input class="file-input" type="file" name="resume" style="width: 100%;" />
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <span class="icon-cloud-upload"></span>
                                        </span>
                                        <span class="file-label"> Choose a file… </span>
                                    </span>
                                    <span class="file-name"> No file uploaded </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Actualizar Avatar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const fileInput = document.querySelector("#file-js-example input[type=file]");
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector("#file-js-example .file-name");
            fileName.textContent = fileInput.files[0].name;
        }
    };
</script>

<style>
    @media (min-width: 768px) {
        form {
            width: 500px;
        }
    }
</style>

{% endblock %}