<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/p.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    {% include "navbar.html" %}

    <main>
        <div class="container is-fluid">

            {% include 'flash.html' %}

            {% block content %}
            {% endblock %}

        </div>
    </main>

    <footer class="footer mt-5">
        <div class="content has-text-centered">
            <p>
                <strong>Hecho con </strong> <span class="icon-heart text-danger"></span> por La Tribu Hiking CR.
                <div class="time text-center text-light"></div>
            </p>
            <p class="copyRight">
                | <strong class="copyRight">&copy; lthiking</strong> |
                <a href="{{ url_for('version') }}"><i>versión 1.0</i></a> |
                <a href="https://www.facebook.com/LaTribuDeLosLibres/" target="_blank">
                    <span class="icon-facebook"></span>
                </a>
            </p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buscador.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cerrar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/eye.js') }}"></script>
    <script src="{{ url_for('static', filename='js/passError.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <a href="#0" class="cd-top">Top</a>
    <script src="{{ url_for('static', filename='js/jquery111.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mostrar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/timePicker.js') }}"></script>

</body>

</html>