{% extends "base.html" %}
{% block content %}

<div class="flex_container">
    <div class="container is-fluid">
        <div class="main-title has-text-centered">
            <h1 class="title ">{{titulo}}</h1>
        </div>
    </div>

    <div class="container">
        <form method="POST" action="/create_vids" enctype="multipart/form-data" id="video-form">
            <div class="field">
                <label class="label">Título</label>
                <div class="control">
                    <input class="input" type="text" name="title" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Descripción</label>
                <div class="control">
                    <textarea class="textarea" name="detail"></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">URL del Video</label>
                <div class="control">
                    <input class="input" type="text" name="video_url" id="video_url" required>
                </div>
                <p id="url-error" style="color: red; display: none;">URL no válida.</p>
            </div>



            
            <div id="file-js-example" class="file has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="image" id="image-input" accept="image/*" />
                    <span class="file-cta">
                        <span class="file-icon">
                            <span class="icon-cloud-upload"></span>
                        </span>
                        <span class="file-label"></span>
                    </span>
                    <span class="file-name">Ninguna imagen seleccionada</span>
                </label>
                <p id="file-error" style="color: red; display: none;">Error: Archivo no válido.</p>
            </div>

            <script>
                const fileInput = document.querySelector("#file-js-example input[type=file]");
                const fileName = document.querySelector("#file-js-example .file-name");
                const fileError = document.querySelector("#file-error");

                fileInput.onchange = () => {
                    if (fileInput.files.length > 0) {
                        const file = fileInput.files[0];
                        const allowedTypes = ['image/jpeg', 'image/png', 'image/gif'];
                        const maxSize = 16 * 1024 * 1024; // 16MB

                        if (!allowedTypes.includes(file.type) || file.size > maxSize) {
                            fileError.style.display = 'block';
                            fileName.textContent = 'Ninguna imagen seleccionada';
                            fileInput.value = ''; // Reset file input
                            return;
                        }

                        fileError.style.display = 'none';
                        fileName.textContent = file.name;
                    } else {
                        fileName.textContent = 'Ninguna imagen seleccionada';
                    }
                };
            </script>


            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Guardar Video</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('video-form');
            const urlInput = document.getElementById('video_url');
            const urlError = document.getElementById('url-error');

            form.addEventListener('submit', function(event) {
                if (!isValidURL(urlInput.value)) {
                    event.preventDefault(); // Evitar el envío del formulario
                    urlError.style.display = 'block';
                } else {
                    urlError.style.display = 'none';
                }
            });

            function isValidURL(url) {
                try {
                    new URL(url);
                    return true;
                } catch (_) {
                    return false;
                }
            }
        });
    </script>

</div>

{% endblock %}