{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">Posts</h1>

        <div class="columns is-multiline">
            {% for post in posts_pagination.items %}
                <div class="column is-3-desktop is-4-tablet post-card-container">
                    <div class="card card-no-shadow">
                        <div class="card-content">
                            <a href="{{ url_for('post', post_id=post.id) }}">
                                <h2 class="title is-4">{{ post.title }}</h2>
                            </a>
                            <p>{{ post.content[:100] }}...</p>
                            {% if post.image %}
                                <figure class="image">
                                    <img src="{{ url_for('static', filename='uploads/' + post.image) }}" alt="Post Image">
                                </figure>
                            {% endif %}
                            <div class="share-icons">
                                <hr>
                                <a href="https://api.whatsapp.com/send?text={{ url_for('post', post_id=post.id, _external=true) }}" target="_blank">
                                    <span class="icon icon-whatsapp"></span>
                                </a>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('post', post_id=post.id, _external=true) }}" target="_blank">
                                    <span class="icon icon-facebook"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if posts_pagination.has_prev %}
                <a class="pagination-previous" href="{{ url_for('index', page=posts_pagination.prev_num) }}">Anterior</a>
            {% endif %}
            {% if posts_pagination.has_next %}
                <a class="pagination-next" href="{{ url_for('index', page=posts_pagination.next_num) }}">Siguiente</a>
            {% endif %}
            <ul class="pagination-list">
                {% for page in posts_pagination.iter_pages() %}
                    {% if page %}
                        <li>
                            <a class="pagination-link {% if page == posts_pagination.page %}is-current{% endif %}" href="{{ url_for('index', page=page) }}" aria-label="Goto page {{ page }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <span class="pagination-ellipsis">&hellip;</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>

{% endblock %}