{% extends "base.html" %}
{% block content %} 


<div class="container is-fluid">
    <div class="main-title has-text-centered">
    <h1 class="title ">{{titulo}}</h1>
   </div>
</div> 


<div class="flex_container">
<head>
    <title>profile</title>
</head>

<body>
    <h1>Perfil</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>Nombre: {{ usuario.name }}</p>
    <p>Primer Apellido: {{ usuario.first_last_name }}</p>
    <p>Segundo Apellido: {{ usuario.second_last_name }}</p>
    <p>Teléfono: {{ usuario.phone_number }}</p>
    <p>Email: {{ usuario.email }}</p>
    {% if usuario.avatar %}
        <img src="{{ url_for('static', filename=usuario.avatar) }}" alt="Avatar" style="max-width: 100px;">
    {% endif %}
    <p><a href="{{ url_for('actualizar_usuario', user_id=usuario.id) }}">Actualizar Perfil</a></p>
    <p><a href="{{ url_for('actualizar_avatar') }}">Actualizar Avatar</a></p>
    <p><a href="{{ url_for('logout') }}">Cerrar Sesión</a></p>
</body>
</html>
</div>


<hr>
<a href="#">Contactos</a>

<a href="{{ url_for('users') }}">Ver usuarios registrados</a>

{% endblock %}