{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container is-fluid">
        <div class="main-title has-text-centered">
            <h1 class="title">{{ titulo }}</h1>
        </div>

        <div class="box no-shadow">
            <form method="GET" action="{{ url_for('users') }}">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input is-rounded" type="text" id="letter" name="letter" maxlength="1" value="{{ search_letter or '' }}">
                    </div>
                    <div class="control">
                        <button class="button is-primary" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="box no-shadow">
            <p>Total de usuarios: {{ user_count }}</p>
        </div>

        {% for letter, users in users_by_letter.items() %}
            <div class="box no-shadow">
                <h3 class="title is-4">{{ letter }}</h3>
                <ul>
                    {% for user in users %}
                        <li>
                            <strong>Nombre:</strong> {{ user.name|title }}, 
                            <strong>Primer Apellido:</strong> {{ user.first_last_name|title }}, 
                            <strong>Segundo Apellido:</strong> {{ user.second_last_name|title }}, 
                            <strong>Teléfono:</strong> {{ user.phone_number }}, 
                            <strong>Email:</strong> {{ user.email|lower }}, 
                            <strong>Número de registros:</strong> {{ user.registration_count }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <div class="mt-4">
            <a class="button is-link" href="/profile">Volver a Perfil</a>
        </div>
    </div>
</section>

{% endblock %}